*

!*/

!**/.gitignore

!/README.md
!assets/imgs/*

!btop/themes/*.theme
!btop/btop.conf
!fastfetch/config.jsonc
!fish/config.fish
!hypr/hyprlock.conf
!kitty/kitty.conf
!niri/**/*.kdl
niri/noctalia.kdl
!noctalia/settings.json
!noctalia/user-templates.toml
!nvim/lua/**/*
!nvim/lazyvim.json
!nvim/init.lua
!nvim/stylua.toml
!qimgv/qimgv.conf
!scripts/**/*
!vesktop/settings/quickCss.css
!vesktop/themes/*.css
!vlc/*
!xdg-desktop-portal-termfilechooser/config
!yazi/plugins/**/*
!yazi/*
!mimeapps.list
!starship.toml
