*

!*/

!**/.gitignore

!arch-update/arch-update.conf
!autostart/*.desktop
!bat/themes/*.tmTheme
!bat/config
!btop/themes/*.theme
!btop/btop.conf
!cava/config
!fastfetch/config.jsonc
!fish/config.fish
!fontconfig/fonts.conf
!gtk-3.0/settings.ini
!kitty/kitty.conf
!lazygit/config.yml
!niri/config.kdl
!niri/keybinds.kdl
!niri/animations.kdl
!noctalia/templates/*
!noctalia/settings.json
!noctalia/user-templates.toml
!nvim/**/*
!nwg-look/config
!qView/qView.conf
!scripts/**/*
!vesktop/settings/*
!vesktop/themes/*.css
!vlc/*
!yazi/plugins/**/*
!yazi/*
!mimeapps.list
!starship.toml
