include "keybinds.kdl"


prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"


spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &"
spawn-sh-at-startup "qs -c noctalia-shell &"
spawn-sh-at-startup "fcitx5 -d"


hotkey-overlay {
    skip-at-startup
}

overview {
    zoom 0.4
    backdrop-color "#151515"
}

recent-windows {
    off
}

cursor {
    hide-when-typing 
    hide-after-inactive-ms 500
    xcursor-theme "capitaine-cursors"
    xcursor-size 32
}

input {
    focus-follows-mouse max-scroll-amount="0%"

    touchpad {
        tap
        natural-scroll
    }

    keyboard {
        numlock
    }
}

output "eDP-1" {
    mode "3840x2160@60.002"
    scale 2
}

environment {
    VISUAL "nvim"
    EDITOR "nvim"

    DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"

    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
}

debug {
    honor-xdg-activation-with-invalid-serial
}

layout {
    background-color "#000000"
    empty-workspace-above-first

    center-focused-column "never"
    default-column-display "tabbed"
    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66666
    }

    gaps 16

    struts {
        left 8
        right 8
        top 5
        bottom 5
    }

    focus-ring {
        off
    }

    border {
        on
        width 3
        active-color "#cba6f7"
        inactive-color "#585b70"
    }

    shadow {
        off
    }

    insert-hint {
        off
    }

    tab-indicator {
        hide-when-single-tab
        corner-radius 4
        width 4
        position "top"
        length total-proportion=0.95
        gap 3
        gaps-between-tabs 3
    }
}

animations {
    on
    slowdown 3.0

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 200
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

window-rule {
    geometry-corner-radius 9
    clip-to-geometry true
}

window-rule {
    match app-id="zen"
    open-maximized true
}

window-rule {
    match app-id="chromium"
    open-maximized true
}

window-rule {
    match app-id="yazi"
    default-column-width { proportion 0.7; }
}

window-rule {
    match app-id="yazi-wrapper"
    open-floating true
    min-width 1350
    max-width 1350
    min-height 850
    max-height 850
}

window-rule {
    match app-id="org.gnome.Nautilus"
    default-column-width { proportion 0.4; }
}

window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.333; }
}

window-rule {
    match app-id="luckycard"
    open-floating true
    min-width 346
    max-width 346
    min-height 534
    max-height 534
}

window-rule {
    match app-id="code"
    open-maximized true
}

window-rule {
    match app-id="vesktop"
    open-maximized true
}

window-rule {
    match app-id="nvim"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="btop"
    open-maximized true
}

window-rule {
    match app-id="vlc"
    open-floating true
    max-width 1280
    max-height 720
}

window-rule {
    match app-id="obsidian"
    default-column-width { proportion 0.75; }
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
}

window-rule {
    match app-id="be.alexandervanhee.gradia"
    open-maximized true
}

include "./animations.kdl"

include "./noctalia.kdl"

