spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "fcitx5 -d"
spawn-sh-at-startup "/usr/lib/hyprpolkitagent/hyprpolkitagent"
spawn-sh-at-startup "/usr/lib/xdg-desktop-portal-termfilechooser -r"

include "./default/default.kdl"
include "./default/layout.kdl"
include "./default/rules.kdl"
include "./default/keybinds.kdl"
include "./default/animations.kdl"

include "./custom/stationary-wallpaper.kdl"
include "./custom/animations.kdl"

include "./noctalia.kdl"

