window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}

window-rule {
    match app-id="zen"
    open-maximized true
}

window-rule {
    match app-id="chromium"
    open-maximized true
}

window-rule {
    match app-id="yazi"
    default-column-width { proportion 0.666; }
}

window-rule {
    match app-id="yazi-wrapper"
    open-floating true
    min-width 1350
    max-width 1350
    min-height 850
    max-height 850
}

window-rule {
    match app-id="org.gnome.Nautilus"
    default-column-width { proportion 0.333; }
}

window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.333; }
}

window-rule {
    match app-id="code"
    open-maximized true
}

window-rule {
    match app-id="vesktop"
    open-maximized true
}

window-rule {
    match app-id="nvim"
    open-maximized true
}

window-rule {
    match app-id="btop"
    open-maximized true
}

window-rule {
    match app-id="vlc"
    open-floating true
    max-width 1280
    max-height 720
}

window-rule {
    match app-id="obsidian"
    open-maximized true
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
}

window-rule {
    match app-id="be.alexandervanhee.gradia"
    open-maximized true
}
